[submodule "commands/g-slave"]
	path = commands/g-slave
	url = https://github.com/0xDarkMatter/g-slave.git
[submodule "commands/session-manager"]
	path = commands/session-manager
	url = https://github.com/0xDarkMatter/session-manager.git
